<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { errors: photo.errors } %>

  <div class="pt-3">
    <%= f.label :photo, class: 'form-label' %>
    <%= f.file_field :photo %>
  </div>

  <div class="col-md-12 pt-3">
    <div class="actions">
      <%= f.submit "Загрузить", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>