<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @subscriber_name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @subscriber_email, "mailto:#{@subscriber_email}" %></strong></p>
<hr/>

<%= t '.event' %>

<h3><%= @subscription.event.title %></h3>

<%= t '.author' %>
<h4><%= l @subscription.event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @subscription.event.user.name %></h4>
